# fprime items
logs/
cmake-build-*
build-artifacts/
build-fprime-*
*-template
*.template.cpp
*.template.hpp
compile_commands.json
.clangd

# Zephyr workspace
lib/zephyr-workspace/*
ReferenceDeployment_Old


# Misc
/venv/
/fprime-venv/
/.idea/
/.vscode/
.DS_Store
*.gcov
.cache
build/
flashing_and_gds.txt

# Ignore local CMake build
cmake-3.27.9*

